# Env Variables
## General
APP_NAME='BC Nuxt Vue Starter'

# BC
## Your Store URL
BASE_URL='https://***.mybigcommerce.com'
## Your StoreFront Token, You can create here https://developer.bigcommerce.com/api-reference/store-management/tokens/api-token/createtoken
STOREFRONT_API_TOKEN='***'
## Your API Config
API_TOKEN='4sxqlk3rrxpi0u8xtp6tpu1h081rvkh'
API_CLIENT_ID='taamiukxcdmcz3qjvbfqiwa47khf4qe'
API_SECRET='9413b8a3f909b9d1e5bf5895d4278a4ec81f1e2f30eddaec6fb4983ef2a6a476'
BC_API_URL='https://api.bigcommerce.com'
STORE_HASH='m1vk26lozp'
PORT=3000
JWT_SECRET='qeff13f24t3v354'
