@import '~@storefront-ui/vue/styles';

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.sf-modal__container {
  z-index: 10000;
  transform: none !important;
  top: 100px !important;
  box-shadow: 0 4px 10px rgba(168, 172, 176, 0.19);

  .sf-bar.sf-modal__bar {
    display: none;
  }

  .sf-modal__content {
    padding: 0;

    .product_list {
      position: relative;
      background: white;
      list-style-type: none;
      overflow: scroll;
      overflow-x: hidden;
      height: 20em;
      line-height: 2em;
      padding: 0;
      margin: 0;
      width: 100%;
      right: 0px;
      top: 0px;

      @include for-desktop {
        border: 1px solid #eee;
        border-radius: 3px;
      }
    }

    .list_item {
      padding: 10px;
      display: flex;
      align-items: center;
      border-top: 1px solid #eee;
      cursor: pointer;

      .sf-image--wrapper {
        margin-right: 0.5rem;
      }

      &:first-of-type {
        border-top: none;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}
